<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Whiplash.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8BB98F761EC677B800F86FE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BB98F901EC677B800F86FE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BB98F9B1EC677B800F86FE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
